$secondary-font: '3826';
$primary-font: 'georgia';
$font-awesome: 'FontAwesome';
$secondary-color: #595959;
$container-left: 350px;
$body-bg: url('../img/bg_pattern_12.png');



////////////mixins////////////////
@mixin overlay($z-index) {
  position: absolute;
  width: 100%;
  height: 100%;

  @if ($z-index !="") {
	z-index: $z-index
  }
}

@mixin container-small($background) {
  left: $container-left;
  width: 80px;
  position: absolute;
  top: 0;
  height: 100%;
  background: $background;

}

@mixin container-small-after($box-shadow) {
  left: 0;
  width: 10px;
  position: absolute;
  top: 0;
  height: 104%;
  content: "";
  box-shadow: inset 7px -4px 8px -4px $box-shadow;
}

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  @if ($left != "") {
	left: $left;
  }
  @if ($top != "") {
	top: $top;
  }
  @if ($bottom != "") {
	bottom: $bottom;

  }
  @if ($right != "") {
	right: $right;
  }
}
@mixin active-border($bordercolor){
  border: 10px solid $bordercolor;
  border-left: 0;
  border-radius: 0px 5px 5px 0;
}

////////////mixins////////////////
