@import "../bourbon/bourbon";
@import "_functions";

body {
  background: $body-bg grey;

  overflow: hidden;
  @include overlay(1);

}

.bg {
  @include overlay(0);
  background: url("../img/smoothVignette.png") no-repeat scroll center center/100% 100% content-box;
  z-index: 0;

}

.container {
  @include overlay(2);
  z-index: 1;
  position: relative;
}

.hidden {

  display: none !important;
}

.visible {

  display: block !important;
}


