@import "../bourbon/bourbon";
@import "functions";


body {
  background: url(../img/bg_pattern_12.png) grey;
@include overlay(1);

}
.bg{
  @include overlay(0);
  background: url("../img/smoothVignette.png") no-repeat scroll center center/100% 100% content-box;
  z-index: 0;

}
.container{

  z-index: 1;
  position: relative;
}



