@font-face {
  font-family: "3826";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/3826.eot");
  src: url("../fonts/3826.eot?#iefix") format("embedded-opentype"), url("../fonts/3826.woff") format("woff"), url("../fonts/3826.ttf") format("truetype"), url("../fonts/3826.svg#3826") format("svg"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "3826";
    src: url("../fonts/3826.svg#3826") format("svg"); } }
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg"); } }
