@import "../../bourbon/bourbon";
@import "../_functions";

.work__section {

  @include container-small(#309ebc);
  li {
	width: 80px;
	height: 80px;
	position: relative;
	img {
	  opacity: 0.5;
	  cursor: pointer;
	}
  }

  .work__li--active {
	@include active-border(#309ebc);
	img {
	  opacity: 1;
	}

  }

  .preview__div{

	position: fixed;
	left: 0;
	top: 0;


	img{
	  width: 100%;
	}
  }

}